{% extends "base.html" %}
{% load staticfiles i18n %}
{% block body-class %}{% endblock %}

{% block container %}
<style>
  #chartdiv {
  width: 100%;
  height: 500px;
}                   
</style>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<div class="table-container">
  <h1>Situatie studenti:</h1>
  <div class="main-page">
    <div class="table-responsive table">
      <table class="table table-condensed table-striped">
        <tr class="table-head">
          <th>Prenume</th>
          <th>Nume</th> 
          <th>Email</th>
          <th>Nr Tel</th>
          <th>Editare</th>
        </tr>
        {% for student in students%}
          <tr class="table-student">
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.phone_number}}</td>
            <td><a href="{% url 'users:student_absente' student.pk%}">View</a></td>
            <!--Aici putem sa mai adugam cate verem :)) -->
          </tr>
        {% empty %}
          <tr><td colspan="5">{% trans 'No students' %}</td></tr>
        {% endfor %}
      </table>
    </div>  
  </div>
</div>
{% endblock container %}

