{% extends "base.html" %}
{% load i18n bootstrap %}
{% block body-class %}{% endblock body-class %}
{% block container %}

<div class="main-page table-big">
    <div class="table-responsive">
      <table class="table table-condensed table-striped">
        <tr>
          <th>First name</th>
          <th>Last name</th> 
          <th>Personal Email</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Edit</th>
        </tr>
        {% for teacher in teachers%}
          <tr>
            <td>{{teacher.first_name}}</td>
            <td>{{teacher.last_name}}</td>
            <td>{{teacher.email}}</td>
            <td>{{teacher.address}}</td>
            <td>{{teacher.phone_number}}</td>
           
             <td><a href="{% url 'users:edit-user' teacher.pk %}">Edit</a></td>
            <!--Aici putem sa mai adugam cate verem :)) -->
          </tr>
        {% empty %}
          <tr><td colspan="5">{% trans 'No students' %}</td></tr>
        {% endfor %}
      </table>
    </div>  
  </div>
{% endblock container %}