.form-control {
	border: 1px solid #ddd;
  box-shadow: none;
  outline: 0;
  border-radius: 2px;
  margin-bottom: 5px;
}

.form-control:focus {
  border-color: #000;
  outline: 0;
  box-shadow: none;
}